@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 286 71% 92%;
    --foreground: 0 0% 0%;
    --card: 286 71% 92%;
    --card-foreground: 0 0% 0%;
    --popover: 286 71% 92%;
    --popover-foreground: 0 0% 0%;
    --primary: 46 70% 51%;
    --primary-foreground: 0 0% 0%;
    --secondary: 286 70% 83%;
    --secondary-foreground: 0 0% 0%;
    --muted: 286 71% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 166 70% 43%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 286 71% 20%;
    --input: 286 71% 20%;
    --ring: 166 70% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 286 71% 8%;
    --foreground: 0 0% 100%;
    --card: 286 71% 8%;
    --card-foreground: 0 0% 100%;
    --popover: 286 71% 8%;
    --popover-foreground: 0 0% 100%;
    --primary: 46 70% 49%;
    --primary-foreground: 286 71% 8%;
    --secondary: 286 70% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 286 71% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 166 70% 57%;
    --accent-foreground: 286 71% 8%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 286 71% 60%;
    --input: 286 71% 80%;
    --ring: 166 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
